* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: 0;
    font-family: tahoma;
    text-align: center;
}

aside {
    background-image: url();
    background-position: cover;
    margin: 0 0 0;
    position: fixed;
    width: 30%;
    margin: 0 0 0;
}

main{
    background-color: maroon;
    width: 70%;
    position: absolute;
    margin: 0 0 0;
}

.cab {
    color: whitesmoke;
    font-style: italic;
    border: 2px dotted mistyrose;
}

.cab_2 {
    color: whitesmoke;
}